li {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.5;
}

ul.about {
    line-height: 1.5;
    width: 60%; 
}

p {
    font-size: 18px;
}

nav {
    font-size: 18px;
}

a:link, a:visited {
    color: blue;
}